<h3>Clientes</h3>
<div class="row container" >
    <button class="btn btn-sm btn-primary mt-4 mb-4 float-right" >Agregar</button>
</div>

<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Direccion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of clientes; let i=index " >
            <th scope="row">{{ i+1 }}</th>
            <td>{{ user.nombre }}</td>
            <td>{{ user.apellido }}</td>
            <td>{{ user.direccion }}</td>
        </tr>
    </tbody>
