<h3>Inventario</h3>

<table class="table table-sm">
    <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio Unitario</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of productos; let i=index " >
            <th scope="row">{{ i+1 }}</th>
            <td>{{ user.nombre }}</td>
            <td>{{ user.precioUnitario }}</td>
            <td>{{ user.cantidad }}</td>
        </tr>
    </tbody>
